MetaXcan/
results/
data/
.vscode/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store
*.log
*.tar
*.tar.gz
*.gz
aim3_scoring.py
*.aux
*.tex
*.out
*.pdf
final_report.html
obma_final_codes.py
*.pptx
